<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ============= FavIcon ============== -->
    <link
      rel="icon"
      type="image/png"
      href="assets/media/iconNlogo/faviconlogo.png"
    />
    <title>Home</title>
    <!-- ============= IconFontAwesome ============== -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- ============= FontGoogle ============== -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- ============= Bootstrap ============== -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    />
    <!-- ============= CssExternal ============== -->
    <link rel="stylesheet" href="/navbar.css" />
  </head>

  <body class="p-0 m-0">
    <!-- ======================= StartNav =============================== -->
    <div class="nav-bg p-0 m-0" id="myProfile">
      <div class="container-fluid justify-content-between px-4">
        <div class="row nav-bg py-2">
          <div class="col-1 d-flex align-items-center justify-content-center">
            <img
              src="assets/media/iconNlogo/dumbwaysputih.png"
              width="50"
              height="35"
              alt=""
            />
          </div>
          <div class="col-10 p-0">
            <ul class="gap-4 h-100 d-md-flex align-items-center d-none">
              <li class="">Home</li>
              <li>Add Project</li>
              <li>Testimonial</li>
              <li>All Task</li>
            </ul>
          </div>
          <div class="col-1 d-flex align-items-center">
            <i
              class="fa-solid fa-hamburger d-md-none fs-2"
              onclick="togOpen()"
            ></i>
            <button class="btn d-md-flex d-none btn-bg">Contact</button>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-sub-bg text-center d-md-none none" id="togle">
      <ul class="d-flex text-center flex-column p-0 m-0">
        <a href="" class="py-2 white m-2"><li>Home</li></a>
        <a href="" class="py-2 active m-2"><li>Add Project</li></a>
        <a href="" class="py-2 white m-2"><li>Testimonial</li></a>
        <a href="" class="py-2 white m-2"><li>All Task</li></a>
      </ul>
      <i class="fa-solid fa-arrow-up fs-2 my-2" onclick="togClose()"></i>
    </div>
    <!-- ======================= EndNav =============================== -->

    <!-- ======================= Home Card =============================== -->
    <div class="body p-0 m-0 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-md-row flex-column">
        <div
          class="col-md-6 d-flex justify-content-center align-items-md-start align-items-center flex-column p-5 ms-md-5"
        >
          <div class="text">
            <h2>Hi Welcome To My Profile</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. In,
              impedit animi ipsa qui esse praesentium, molestiae commodi
              repellat aspernatur asperiores minima beatae deserunt id quibusdam
              quas quia voluptate fuga natus nostrum harum voluptas quo?
              Distinctio doloremque sed a voluptatem temporibus aut sit fugit
              cupiditate unde accusantium dolorem voluptas maiores beatae
              repellendus rem ut dolore architecto nihil quod quasi quas, vero
              magni laborum! Aspernatur, consequuntur ipsa? Assumenda esse at
              iste voluptas eius suscipit reiciendis repudiandae cupiditate
              corporis mollitia consequatur.
            </p>
          </div>
          <div class="d-flex align-items-center my-3">
            <a href="/03.html" class="btn btn-dark me-3"
              ><span>Contact</span></a
            >
            <a href="#">Download CV<i class="fa-solid fa-download"></i></a>
          </div>
          <div class="mt-3">
            <div class="d-flex fs-1 gap-5">
              <i class="fa-brands fa-github"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-whatsapp"></i>
              <i class="fa-brands fa-instagram"></i>
            </div>
            <a
              class="mt-5 btn btn-dark d-flex align-items-center justify-content-center"
              href="#myProject"
              ><span>My Project</span
              ><i class="fa-solid fa-arrow-alt-circle-down ms-3"></i
            ></a>
          </div>
        </div>
        <div
          class="col-md d-flex flex-column justify-content-center align-items-center"
        >
          <div class="">
            <div class="d-flex justify-content-center align-items-center">
              <img
                src="/assets/media/FotoSelfie.jfif"
                class="col-5 rounded-4 shadow"
                alt=""
              />
            </div>
            <div
              class="d-flex justify-content-center align-items-center flex-column"
            >
              <span class="fw-bold fs-2">Moh Ryan K H</span>
              <span class="status">FrontEnd Developer</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="silver auto-height mt-5">
      <div class="body silver pb-3" id="myProject">
        <h1 class="text-center pt-2 my-4">MY PROJECT</h1>
        <div class="d-flex justify-content-around my-2">
          <a class="ms-5 btn btn-dark" href="/blog"><span>Add Project</span></a>
          <a class="ms-5 btn btn-dark" href="#myProfile"
            ><span>My Profile</span></a
          >
        </div>
        <div
          class="d-flex justify-content-center flex-wrap container gap-4"
          id="conten-blog"
        >
          <!-- ============ ContenPush ================ -->
          {{#each dataBlog}}
          <div class="w-auto px-3 pt-3 pb-2 bg-white rounded-2 shadow">
            <!-- ============ image ================ -->
            <div class="d-flex justify-content-center">
              <img
                src="assets/image/Task 2.PNG"
                width="350"
                height="250"
                alt=""
              />
            </div>
            <!-- ============ data-blog ================ -->
            <div class="data-blog">
              <!-- ============ title ================ -->
              <div class="mt-1 fw-bold" style="width: 350px">
                {{!--
                <a href="blogDetail/{{id}}"><span>{{projectName}}</span></a>
                --}}
                <a href="blogDetail/{{this.id}}"
                  ><span>{{projectname}}</span></a
                >
              </div>
              <div class="fs-6">
                <!-- <span>durasi : ${blogAdd[index].durasi}</span> -->
                <span style="color: silver; line-height: none"
                  >durasi : {{durasi}}</span
                >
              </div>
              <!-- ============ article ================ -->
              <div class="row m-0 my-2">
                <span
                  class="p-0 overflow-auto pe-2"
                  style="width: 350px; height: 100px; text-align: justify"
                  >{{description}}</span
                >
              </div>
              <!-- ============ icon ================ -->
              <div
                class="fs-1 d-flex gap-3 justify-content-center flex-column"
                style="height: 110px"
              >
                <div class="d-flex gap-4 justify-content-center">
                  {{#each tech}}
                  <i class="fa-brands fa-{{this}}"></i>
                  {{/each}}
                </div>
                <div class="d-flex gap-4 justify-content-center">
                  {{#each tech1}}
                  <i class="fa-brands fa-{{this}}"></i>
                  {{/each}}
                </div>
              </div>
              <!-- ============ button ================ -->
              <div class="row mt-2 px-3 py-1 gap-2">
                <a
                  href="editDetail/{{id}}"
                  class="col text-center bg-dark rounded-2 text-white"
                  >Edit</a
                >
                <a
                  href="delete/{{id}}"
                  class="col text-center bg-dark rounded-2 text-white"
                  >Delete</a
                >
                {{!--
                <a
                  href="editDetail/{{id}}"
                  class="col text-center bg-dark rounded-2 text-white"
                  >Edit</a
                >
                <a
                  href="delete/{{id}}"
                  class="col text-center bg-dark rounded-2 text-white"
                  >Delete</a
                >
                --}}
              </div>
            </div>
            <!-- ======================================== -->
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <style>
      .body {
        height: 100vh;
      }
      p {
        text-align: justify;
      }
      .silver {
        background-color: silver;
      }
    </style>

    <script src="/navbar.js"></script>
  </body>
</html>
